body {
    overflow: hidden;
    font-size: 100%;
    font: inherit;
    font-family: "PT Sans", sans-serif;
    line-height: 1;
    background: radial-gradient(50% 50% at 50% 50%, #265D96 0%, #002954 100%);
    margin: 0;
}

button {
    background: none;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 26px;
}

:root {
    --color-pink: #e31b6d;
    --color-dark: #17181c;
    --color-white: #f7f7f7;
    --color-surf: #08fdd8;
}

.hide {
    display: none;
}

.car,
.enemy {
    display: block;
    width: 50px;
    height: 100px;
    /*background-image: url(image/player.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    position: absolute;
    background: rgba(0, 0, 0, 0) url(image/player.svg) center / cover no-repeat;
    left: 225px;
    bottom: 10px;
    z-index: 5;
}


.enemy.gravity.enemy1 {
    width: 67px;
    height: 223px;
    background: rgba(0, 0, 0, 0) url(image/gravity/enemy1.svg) center / cover no-repeat;
}

.enemy.gravity.enemy2 {
    width: 46.87px;
    height: 98px;
    background: rgba(0, 0, 0, 0) url(image/gravity/enemy2.svg) center / cover no-repeat;
    /*background-image: url(image/gravity/enemy2.svg);*/
}

.enemy.gravity.enemy3 {
    width: 64.97px;
    height: 125px;
    background: rgba(0, 0, 0, 0) url(image/gravity/enemy3.svg) center / cover no-repeat;
    /*background-image: url(image/gravity/enemy3.svg);*/
}

.enemy.gravity.enemy4 {
    width: 51px;
    height: 96.98px;
    background: rgba(0, 0, 0, 0) url(image/gravity/enemy4.svg) center / cover no-repeat;
    /*background-image: url(image/gravity/enemy4.svg);*/
}


.enemy.offroad.enemy1 {
    width: calc(100% * 133 /390);
    height: calc(100% * 49 / 1200);
    background: rgba(0, 0, 0, 0) url(image/offroad/enemy1.svg) center / cover no-repeat;
    /*background-image: url(image/offroad/enemy1.svg);*/
}

.enemy.offroad.enemy2 {
    width: calc(100% * 111 /390);
    height: calc(100% * 50 / 1200);
    background: rgba(0, 0, 0, 0) url(image/offroad/enemy2.svg) center / cover no-repeat;
    /*background-image: url(image/offroad/enemy2.svg);*/
}

.enemy.comfort.enemy1 {
    width: calc(100% * 89 /390);
    height: calc(100% * 49 / 1200);
    background: rgba(0, 0, 0, 0) url(image/comfort/enemy1.svg) center / cover no-repeat;
    /*background-image: url(image/comfort/enemy1.svg);*/
}

.enemy.comfort.enemy2 {
    width: calc(100% * 30 /390);
    height: calc(100% * 35 / 1200);
    background: rgba(0, 0, 0, 0) url(image/comfort/enemy2.svg) center / cover no-repeat;
    /*background-image: url(image/comfort/enemy2.svg);*/
}

.gamearea {
    height: 100vh;
    position: relative;
    margin: auto;
    background: rgb(143, 143, 143);
    /*overflow: hidden;*/
    width: calc(390 / 590 * 100%);
    max-width: 390px;
}

.line_block {
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
    background-image: url("image/gravity/img_1.png");
    /*width: 100%;*/
    background-size: 100% 300px;
    background-repeat: no-repeat;
    padding: 0 calc(100vw * 100 / 590);
    max-width: 590px;
    z-index: 1;
}

.puddle {
    width: 100%;
    height: calc(100vw * 135 / 590);
    background-image: url(image/offroad/puddle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 4;
    max-height: 154px;
    left: 0;
}

.splash {
    width: calc(100% * 212 / 590);
    height: 61px;
    background-image: url(image/splash.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 8;
}

.splash.splash-after {
    width: calc(100% * 300 / 590);
    height: 86px;
    background-image: url(image/splash2.svg);
}

.splash.hide {
    display: none;
}

.score_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 200;
    font-size: 1.5em;
    color: #074989;
    text-align: center;
    font-weight: 600;
    background-image: url(image/score.svg);
    background-size: 100% 60px;
    background-repeat: no-repeat;
    position: fixed;
    top: 25px;
    right: 0;
    background-position-y: top;
    left: 50%;
    transform: translate(-50%, 0);
    background-position: center;
    width: fit-content;
    padding: 0 40px;
}

.score_container.hide {
    display: none;
}

.screen {
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-in;
    max-width: 590px;
}

.screen_show {
    display: block;
}

.screen_hide {
    display: none;
}

.screen-up {
    margin-top: -100vh;
}


.difficulty {
    padding: 0;
}

.difficulty__button {
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
}

.start__menu-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 80px 70px 0 70px;
    gap: 15px;
}

.start__menu-logo .logo {
    max-width: 455px;
}

.start__menu-logo .sub-logo {
    max-width: 130px;
}

.start__menu-logo .poster {
    margin-top: 0;
    display: block;
}

.start__menu-container {
    padding: 0 50px 0 70px;
}

@media screen and (max-width: 768px) {
    .start__menu.slideDown {
        width: 70%;
    }

    .difficulty__button {
        min-width: 140px;
    }

    /*.gamearea {*/
    /*    width: 100%;*/
    /*}*/
}
