body {
    overflow: hidden;
    font-size: 100%;
    font: inherit;
    font-family: "PT Sans", sans-serif;
    /*line-height: 1;*/
    margin: 0;
    /*background: radial-gradient(50% 50% at 50% 50%, #265D96 0%, #002954 100%);*/
}

button {
    background: none;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 26px;
}

:root {
    --color-pink: #e31b6d;
    --color-dark: #17181c;
    --color-white: #f7f7f7;
    --color-surf: #08fdd8;
}

.hide {
    display: none;
}

.car,
.enemy:not(.officer_img,.slow_before_officer) {
    display: block;
    position: absolute;
    z-index: 5;
}


/*SLIDER STYLES*/

.splide__slide img {
    width: 100%;
    height: auto;
}

.splide__pagination {
    display: none;
}

.splide__track {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.splide__list {
    gap: 10px;
    position: relative;
    right: 10px;
}

/*.splide__slide.is-active {*/
/*    margin: 0 20px;*/
/*}*/

.splide__slide:not(.is-active) {
    opacity: 0.5;
}

.splide__arrows {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.splide__arrow {
    background: unset;
    position: unset;
    border: 0;
    width: unset;
    height: unset;
    max-width: 35px;
    max-height: 0;
}

.splide__arrow.splide__arrow--prev {
    transform: rotate(180deg) translateY(50%);
}

.splide__button {
    border: 0;
    background: unset;
    padding: 0;
    z-index: 1;
}

.splide__button svg{
    max-width: 170px;
}

.splide__arrow svg {
    width: unset;
    height: unset;
}
/*.billboard {*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 100%;*/
/*    z-index: 6;*/
/*    width: 167px;*/
/*    height: 142px;*/
/*}*/

/*.billboard.white {*/
/*    background: rgba(0, 0, 0, 0) url(image/winter_drive/billboard-white.svg) center / cover no-repeat;*/
/*}*/

/*.billboard.blue {*/
/*    background: rgba(0, 0, 0, 0) url(image/winter_drive/billboard-blue.svg) center / cover no-repeat;*/
/*}*/


.car.winter_drive {
    width: 60px;
    height: 107px;
    background: rgba(0, 0, 0, 0) url(image/winter_drive/player.svg) center / cover no-repeat;
}

.car.snow_cross {
    width: 60px;
    height: 117px;
    background: rgba(0, 0, 0, 0) url(image/snow_cross/player.svg) center / cover no-repeat;
}

.car.trucks {
    width: 65px;
    height: 200px;
    background: rgba(0, 0, 0, 0) url(image/trucks/player.svg) center / cover no-repeat;
}

.car.cars_drive {
    width: 65px;
    height: 148px;
    background: rgba(0, 0, 0, 0) url(image/cars_drive/player.svg) center / cover no-repeat;
}
/*OFFICER*/
.enemy.officer {
    width: calc(590 / 320 * 100%);
    height: 167px;
    background: rgba(0, 0, 0, 0) url(image/officer.svg) center / cover no-repeat;
    left: -24%;
    transition: left 0.7s;
}

.enemy.officer.--hide {
    left: -500px;
}


.enemy.winter_drive.enemy1 {
    width: 67px;
    height: 223px;
    background: rgba(0, 0, 0, 0) url(image/winter_drive/enemy1.svg) center / cover no-repeat;
}

.enemy.winter_drive.enemy2 {
    width: 54px;
    height: 112px;
    background: rgba(0, 0, 0, 0) url(image/winter_drive/enemy2.svg) center / cover no-repeat;
}

.enemy.winter_drive.enemy3 {
    width: 70px;
    height: 135px;
    background: rgba(0, 0, 0, 0) url(image/winter_drive/enemy3.svg) center / cover no-repeat;
}

.enemy.winter_drive.enemy4 {
    width: 55px;
    height: 103px;
    background: rgba(0, 0, 0, 0) url(image/winter_drive/enemy4.svg) center / cover no-repeat;
}


.enemy.trucks.enemy1 {
    width: 67px;
    height: 223px;
    background: rgba(0, 0, 0, 0) url(image/trucks/enemy1.svg) center / cover no-repeat;
}

.enemy.trucks.enemy2 {
    width: 54px;
    height: 112px;
    background: rgba(0, 0, 0, 0) url(image/trucks/enemy2.svg) center / cover no-repeat;
}

.enemy.trucks.enemy3 {
    width: 70px;
    height: 135px;
    background: rgba(0, 0, 0, 0) url(image/trucks/enemy3.svg) center / cover no-repeat;
}

.enemy.trucks.enemy4 {
    width: 55px;
    height: 103px;
    background: rgba(0, 0, 0, 0) url(image/trucks/enemy4.svg) center / cover no-repeat;
}


.enemy.cars_drive.enemy1 {
    width: calc(100% * 133 /390);
    height: calc(100% * 49 / 1200);
    background: rgba(0, 0, 0, 0) url(image/cars_drive/enemy1.svg) center / cover no-repeat;
}

.enemy.cars_drive.enemy2 {
    width: calc(100% * 111 /390);
    height: calc(100% * 50 / 1200);
    background: rgba(0, 0, 0, 0) url(image/cars_drive/enemy2.svg) center / cover no-repeat;
}

.enemy.cars_drive.enemy3 {
    width: calc(100% * 128 /390);
    height: calc(100% * 74 / 1200);
    background: rgba(0, 0, 0, 0) url(image/cars_drive/enemy3.svg) center / cover no-repeat;
}

.enemy.snow_cross.enemy1 {
    width: calc(100% * 133 /390);
    height: calc(100% * 49 / 1200);
    background: rgba(0, 0, 0, 0) url(image/cars_drive/enemy1.svg) center / cover no-repeat;
}

.enemy.snow_cross.enemy2 {
    width: calc(100% * 111 /390);
    height: calc(100% * 50 / 1200);
    background: rgba(0, 0, 0, 0) url(image/cars_drive/enemy2.svg) center / cover no-repeat;
}

.enemy.snow_cross.enemy3 {
    width: calc(100% * 128 /390);
    height: calc(100% * 74 / 1200);
    background: rgba(0, 0, 0, 0) url(image/cars_drive/enemy3.svg) center / cover no-repeat;
}

.gamearea {
    height: 100vh;
    position: relative;
    margin: auto;
    width: calc(390 / 590 * 100%);
    max-width: 390px;
}

.line_block {
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
    background-image: url("image/winter_drive/img_1.png");
    /*width: 100%;*/
    background-size: 100% 300px;
    background-repeat: no-repeat;
    /*padding: 0 calc(100vw * 100 / 590);*/
    max-width: 590px;
}

.img_5:before {
    content: "";
    width: calc(108 / 590 * 100%);
    height: calc(287 / 590 * 100%);
    background: rgba(0, 0, 0, 0) url(image/officer2.svg) left/cover no-repeat;
    position: absolute;
    top: 30%;
    left: 2%;
}

.line_block.winter_drive.img_1 {
    background-image: url("image/winter_drive/img_1.png");
}

.line_block.winter_drive.img_1:before {
    content: '';
    background-image: url(image/winter_drive/billboard-white.svg);
    z-index: 11;
    width: 167px;
    height: 142px;
    display: block;
    right: -85px;
    top: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.line_block.winter_drive.img_2 {
    background-image: url("image/winter_drive/img_2.png");
}

.line_block.winter_drive.img_3 {
    background-image: url("image/winter_drive/img_3.png");
}

.line_block.winter_drive.img_3:before {
    content: '';
    background-image: url(image/winter_drive/billboard-blue.svg);
    z-index: 11;
    width: 167px;
    height: 142px;
    display: block;
    right: -85px;
    top: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.line_block.winter_drive.img_4 {
    background-image: url("image/winter_drive/img_4.png");
}

.line_block.winter_drive.img_5 {
    background-image: url("image/winter_drive/img_5.png");
}

.line_block.trucks.img_1 {
    background-image: url("image/trucks/img_1.png");
}

.line_block.trucks.img_2 {
    background-image: url("image/trucks/img_2.png");
}

.line_block.trucks.img_3 {
    background-image: url("image/trucks/img_3.png");
}

.line_block.trucks.img_4 {
    background-image: url("image/trucks/img_4.png");
}

.line_block.trucks.img_5 {
    background-image: url("image/trucks/img_5.png");
}

.line_block.cars_drive.img_1 {
    background-image: url("image/cars_drive/img_1.png");
}

.line_block.cars_drive.img_2 {
    background-image: url("image/cars_drive/img_2.png");
}

.line_block.cars_drive.img_3 {
    background-image: url("image/cars_drive/img_3.png");
}

.line_block.cars_drive.img_4 {
    background-image: url("image/cars_drive/img_4.png");
}

.line_block.cars_drive.img_5 {
    background-image: url("image/cars_drive/img_5.png");
}

.line_block.snow_cross.img_1 {
    background-image: url("image/snow_cross/img_1.png");
}

.line_block.snow_cross.img_2 {
    background-image: url("image/snow_cross/img_2.png");
}

.line_block.snow_cross.img_3 {
    background-image: url("image/snow_cross/img_3.png");
}

.line_block.snow_cross.img_4 {
    background-image: url("image/snow_cross/img_4.png");
}

.line_block.snow_cross.img_5 {
    background-image: url("image/snow_cross/img_5.png");
}

.puddle {
    width: 100%;
    height: calc(100vw * 135 / 590);
    background-image: url(image/trucks/puddle.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 4;
    max-height: 154px;
    left: 0;
}

.puddle_ice {
    width: 17%;
    height: calc(100vw * 200 / 590);
    background-image: url(image/trucks/puddle_ice.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 4;
    max-height: 154px;
    left: 10%;
}

.splash {
    width: calc(100% * 212 / 590);
    height: 61px;
    background-image: url(image/splash.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    z-index: 8;
}

.splash.splash-after {
    width: calc(100% * 300 / 590);
    height: 86px;
    background-image: url(image/splash2.svg);
}

.splash.hide {
    display: none;
}

.boom {
    width: 50px;
    height: 50px;
    background-image: url(image/icons/boom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 7;
}

.difficulty {
    padding: 0;
}

.difficulty__button {
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
}

.score_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    z-index: 200;
    font-size: 1.5em;
    color: #074989;
    text-align: center;
    font-weight: 600;
    background-image: url(image/score.svg);
    background-size: 100% 60px;
    background-repeat: no-repeat;
    position: fixed;
    top: 25px;
    right: 0;
    background-position-y: top;
    left: 50%;
    transform: translate(-50%, 0);
    background-position: center;
    width: fit-content;
    padding: 0 40px;
}

.score_container.hide {
    display: none;
}

.screen {
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-in;
    max-width: 590px;
}

.screen_start, .screen_result {
    background: radial-gradient(50% 50% at 50% 50%, #265D96 0%, #002954 100%);
}


.screen_start {
    background: url(image/snow.png) no-repeat, radial-gradient(50% 50% at 50% 50%, #265D96 0%, #002954 100%);
    background-size: contain;
}

.screen_start:after {
    content: "";
    background: url(image/snow_bottom.png) no-repeat;
    background-size: 100%;
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.screen_show {
    display: block;
}

.screen_hide {
    display: none;
}

.start__menu-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 80px 70px 0 70px;
    gap: 15px;
}

.start__menu-logo .logo {
    max-width: 455px;
}

.start__menu-logo .sub-logo {
    max-width: 130px;
}

.start__menu-logo .poster {
    margin-top: 0;
    display: block;
}

.start__menu-container {
    padding: 20px 50px 0 70px;
}

.screen_result .points-block {
    margin-top: 60px;
    position: relative;
}

.screen_result .points-background {
    width: calc(100% * 400 / 590)
}

.screen_result .points-value {
    position: absolute;
    left: 9%;
    top: 45%;
    font-weight: 600;
    color: #074989;
    font-style: italic;
    font-size: 50px;
}

.play_again {
    position: absolute;
    margin-left: 30px;
    top: 8%;
    background: url('image/icons/again.svg') no-repeat center;
    height: 100px;
    width: 100px;
}

.media-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 65px;
    gap: 20px;
}

.media-container button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.media-container .management-button {
    display: flex;
    align-items: center;
    padding: 18px;
    width: calc(100% - 40px);
    justify-content: flex-start;
    gap: 15px;
}

.media-container .management-button.cordiant-href {
    justify-content: center;
}

.cordiant-href span {
    text-align: left;
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
}

.modal-overlay.question {
    background: rgba(145, 145, 145, 0.30);
    backdrop-filter: blur(15px);
    height: 100vh;
    z-index: 1000;
    overflow: scroll;
}

.modal {
    position: fixed;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -70%);*/
    background: radial-gradient(50% 50% at 50% 50%, #265D96 0%, #002954 100%);
    transition: transform 0.3s ease-in-out;
    height: calc(100% - 90px);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 45px;
}

.modal-overlay.question .modal {
    border-radius: 12px;
    background: #FFF;
    padding: 40px;
    width: calc(100% - 130px);
    position: unset;
    z-index: 1001;
    height: unset;
    margin: auto;
}

.modal-overlay.question .modal-title {
    color: #074989;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
}


.modal-overlay.--show {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.modal-overlay.question.--show {
    display: flex;
}

.modal-header {
    font-size: 25px;
    /*text-align: center;*/
    /*position: relative;*/
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .management-button {
    /*background-color: #36a898;*/
}

.modal-close {
    height: 84px;
    width: 84px;
    background-image: url(image/icons/back.svg);
    background-size: cover;
}

.modal-overlay.question .options {
    padding-top: 20px;
}

.modal-overlay.question .option-item {
    min-height: 40px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #074989;
    padding: 12px 20px;
    color: #074989;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
}

.modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
    height: 50vh;;
}

.modal-promo {
    padding: 0 40px;
    margin: 15px 0 40px;
}

.user-item {
    position: relative;
    opacity: 0.9;
    height: 60px;
    margin-bottom: 35px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.user-item:nth-child(-n + 3)::after {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(0, -50%);
}

.user-item:nth-child(-n + 3) {
    background: #FFFFFF;
}

.user-item:nth-child(1)::after {
    content: url(image/icons/first.svg);
}

.user-item:nth-child(2)::after {
    content: url(image/icons/second.svg);
}

.user-item:nth-child(3)::after {
    content: url(image/icons/third.svg);
}

.user-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translate(0, -50%);
}

.user-mode {
    font-style: italic;
    font-weight: 700;
    position: absolute;
    bottom: -3px;
    padding: 8px 10px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    color: #2E2563;
    text-transform: uppercase;
    font-size: 9px;
}

.user-item:nth-child(-n + 3) .user-mode {
    background: #2E2563;
    color: #FFFFFF;
}

.user-img {
    width: 80px;
    border-radius: 50%;
    display: block;
}

.user-name {
    left: 100px;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    right: 20px;
    font-style: italic;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}


.user-points {
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.user-item:nth-child(-n + 3) .user-name, .user-item:nth-child(-n + 3) .user-points {
    color: #074989;
}

.management-button {
    background: #55B2EF;
    /*border-radius: 100px;*/
    /*padding: 20px 40px;*/
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.8px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    height: fit-content;
    background: none;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 26px;
}

.management-button .management-subtext{
    color: #BBDCF1;
    font-size: 18px;
}

.trust-scroll__image {
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 6;
}

.trust-scroll__image:before {
    content: url(image/icons/scroll-mouse.svg);
    transform: translate3d(-50%, 0, 0);
    animation: spin 2s infinite linear;
    position: absolute;
    left: 50%;
    bottom: 120px;
}

.modal-overlay.officer-stopped,
.modal-overlay.officer-success,
.modal-overlay.officer-error
{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}

.modal-overlay.officer-stopped {
    background-image: url(image/officer-stopped.png);
}

.modal-overlay.officer-success {
    background-image: url(image/officer-success.png);
}

.modal-overlay.officer-error {
    background-image: url(image/officer-error.png);
}

@keyframes spin {
    0%, 100% {
        transform: translate(-90px, 0);
    }
    50% {
        transform: translate(40px, 0);
    }
}



@media screen and (max-width: 550px) {
    .car,
    .enemy:not(.officer_img,.slow_before_officer) {
        width: 50px;
        height: 100px;
    }

    .start__menu-logo {
        padding: 50px 30px 0 30px;
        gap: 7px;
    }

    .start__menu-logo .sub-logo {
        height: 30px;
        width: 90px;
    }

    .start__menu-container {
        padding: 30px 0 0 ;
    }

    .difficulty__button {
        margin-bottom: 25px;
    }

    .media-container img.icon {
        width: 60px;
    }

    .media-container img.text {
        height: 60px;
    }

    .modal {
        padding: 30px;
        height: calc(100% - 60px);
    }

    .modal-close {
        height: 75px;
        width: 75px;
    }

    .management-button {
        padding: 15px 30px;
        font-size: 17px;
    }

    .management-button .management-subtext{
        font-size: 15px;
    }

}

@media screen and (max-width: 500px) {
    .car.winter_drive {
        width: 55px;
        height: 98px;
    }

    .car.snow_cross {
        width: 50px;
        height: 98px;
    }

    .car.trucks {
        width: 60px;
        height: 185px;
    }

    .car.cars_drive {
        width: 60px;
        height: 137px;
    }

    .enemy.officer {
        width: calc(590 / 399 * 100%);
        height: 136px;
    }

    .media-container img.icon {
        width: 50px;
    }

    .media-container img.text {
        height: 50px;
    }

    .screen_result .points-value {
        font-size: 45px;
    }

    .play_again {
        background: url('image/icons/again.svg') no-repeat center;
        background-size: 35px 35px;
        height: 80px;
        width: 80px;
    }

    .play_again {
        top: 12%;
    }

    .modal-close {
        height: 70px;
        width: 70px;
    }

    .management-button {
        font-size: 15px;
    }

    .management-button .management-subtext{
        font-size: 13px;
    }
}


@media screen and (max-width: 450px) {
    .screen_result .points-background {
        width: calc(100% * 350 / 590);
    }

    .screen_result .points-value {
        font-size: 36px;
        left: 8%;
    }

    .media-container button {
        padding: 22px;
    }

    .media-container img.icon {
        width: 40px;
    }

    .media-container img.text {
        height: 40px;
    }

    .difficulty__button {
        margin: 0 auto 25px;
        width: 80%;
        display: block;
    }

    .start__menu-logo {
        padding-top: 30px;
    }

    .start__menu-logo .poster {
        margin-top: -15px;
        display: block;
        height: 90px;
    }

    .modal-close {
        height: 65px;
        width: 65px;
    }

    .management-button {
        font-size: 13px;
    }

    .management-button.cordiant-href {
        font-size: 16px;
    }

    .management-button .management-subtext{
        font-size: 11px;
    }

}

@media screen and (max-width: 420px) {
    .user-name {
        max-width: 140px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 400px) {
    .screen_result .points-value {
        font-size: 35px;
    }

    .media-container {
        padding: 0 60px;
    }

    .play_again {
       right: 60px;
    }

    .media-container button {
        padding: 18px;
        gap: 20px;
    }

    .media-container .management-button {
        padding: 18px;
    }

    .media-container img.icon {
        width: 35px;
    }

    .media-container img.text {
        height: 35px;
    }

    .difficulty__button {
        width: 75%;
    }

    .start__menu-logo .poster {
        height: 80px;
        margin-top: 20px;
    }

    .screen_result .points-block {
        margin-top: 40px;
    }

    .screen_result .points-background {
        width: calc(100% * 300 / 590);
    }

    .screen_result .points-value {
        font-size: 26px;
    }
}

@media screen and (max-width: 380px) {
    .user-name {
        max-width: 130px;
        left: 90px;
    }
}

@media screen and (max-width: 365px) {
    .user-name {
        max-width: 115px;
        left: 90px;
    }
}

@media screen and (max-width: 350px) {
    .media-container {
        padding: 0 50px;
    }

    .screen_result .points-value {
        font-size: 24px;
    }

    .play_again {
        right: 50px;
        width: 70px;
        height: 70px;
    }
    .user-name {
        left: 80px;
        font-size: 15px;
        max-width: 110px;
    }

    .management-button {
        font-size: 11px;
        padding: 15px 20px;
    }

    .management-button .management-subtext{
        font-size: 9px;
    }
}

@media screen and (max-width: 330px) {
    .user-name {
        max-width: 95px;
    }
}

@media (min-width: 590px) {
    .screen {
        margin: auto;
        max-height: 1200px;
    }
    .gamearea {
        max-height: 1200px;
        width: 390px;
    }
    .game {
        position: relative;
        overflow: hidden;
    }
    .line_block {
        width: 590px;
        background-size: 590px 300px;
    }
    .modal {
        width: 590px;
        margin: auto;
    }
}